INTERVAL 60;
PORT 81;
STATUSFILE /var/run/resmon-status.txt;
TIMEOUT 10;

# Resmon health check. Shows the hostname, svn revision and
# any problems with modules or the configuration file.
Core::Resmon {
  resmon : noop
}

#Core::Cpu {
#  local : noop
#}

#Core::Load {
#  local : noop
#}

#Core::Iostat {
#  sd0 : noop
#}

#Core::Memstat {
#  local : noop
#}

#Core::TcpService {
#  ssh : host => 127.0.0.1, port => 22, timeout => 2
#}

#Core::File {
#  /path/to/file : noop
#}
